.Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000030;
  z-index: 5;
}

.ListEditWrapper {
  position: absolute;
  top: 3px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 180px;
  border-radius: 8px;
  background-color: #e1e1e1;
  padding: 10px 14px;
  z-index: 10;
}

.ListChangeWrapper {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90px;
  border-radius: 5px;
  background-color: #e1e1e1;
  padding: 10px 14px;
  z-index: 10;
}

.ListEditButton {
  background-color: #e1e1e1;
  border: 1px solid #80808080;
  border-radius: 4px;
  padding: 4px 6px;
}
.ListEditButton:hover {
  background-color: #4b5066;
  color: #f6f7f9;
}
