.HeaderContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 28px;
  justify-content: space-between;
  align-items: center;
}

.ButtonWrapper {
  position: relative;
  width: 158px;
}

.TitleName {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.TitleWrapper {
  position: relative;
  display: flex;
  gap: 10px;
}
.HeaderButton {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #21212170;
  padding: 8px 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242424;
  background-color: #e1e1e1;
}

.HeaderButtonDark {
  color: #e1e1e1;
  background-color: #3b4756;
}
.HeaderButtonText {
  margin-left: 5px;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
